.fundo{
    background-image: linear-gradient(to right, rgb(68, 0, 255), rgb(118, 57, 231));

}
.titulo{
   text-align: center;
   width: 800px;
   height: 50px;
   background: #a1fafa ;
   margin-left: 35%;
}
.titulo-border{
    border-radius: 40px;
    border-color: #000;
    border-style: outset;

}
.animes-semanais{
   text-align: center;
   width: 750px;
   height: 500px;
   margin-left: 36%;
   margin-right: 36%;
   background: #a1fafa ;


}
.border-animes-semanais{
    border-radius: 40px;
    border-color: #000;
    border-style: outset;

}
#bumtaum{
   width: 30%;
   height: 50px;
   margin-top: 2%;
   margin-right: 2%;
   background-image: linear-gradient(to right, rgb(3, 152, 172), aqua, rgb(157, 248, 255) );
}
.botoe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}