.fundo{
    background-image: linear-gradient(to right, rgb(68, 0, 255), rgb(118, 57, 231));
}
.titulo{
    text-align: center;
    width: 800%;
    height: 120px;
    background: #a1fafa ;
    margin-left: 2%;
    margin-right: 2%;
}
.border-titulo{
    border-radius: 40px;
    border-color: #000;
    border-style: outset;
}
.maou {
    text-align: center;
    width: 500px;
    height: 450px;
    background: #a1fafa ;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 2%;
}
.border-maou{
    border-radius: 40px;
    border-color: #000;
    border-style: outset;
}
.outro{
    text-align: center;
    width: 500px;
    height: 450px;
    background: #a1fafa ;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 2%;
}
.outro-border{
    border-radius: 40px;
    border-color: #000;
    border-style: outset;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.maou-imagem{
    border-radius: 40px;
    width: 400px;
    height: 350px;  
}
.wind-imagem{
    border-radius: 40px;
    width: 400px;
    height: 350px;  
}
.hananoi-imagem{
    border-radius: 40px;
    width: 400px;
    height: 350px;  
}
#inicio{
    width: 10%;
   height: 35px;
   background-image: linear-gradient(to right, rgb(3, 152, 172), aqua, rgb(157, 248, 255) );
}